<?php

return [

   'api_baseurl' => 'http://localhost:1926',
   'client_token' => '',
   'sso_login' => 'http://local.central.com/site/login',
   'sso_logout' => 'http://local.central.com/site/sess-logout',
   'jwt_key' => '',
   'consumer_id' => '',
    'consumer_secret' => '',
   'invoke_token_uri' => 'http://local.central.com/site/invoke-token',
   's3' => [
        'version' => 'latest',
        'region'  => 'us-east-1',
        'endpoint' => '',
        'use_path_style_endpoint' => true,
        'credentials' => [
            'key'    => '',
            'secret' => '',
        ],
    ]
];
